*{
	margin: 0px;
	padding: 0px;
}

body, html {
  height: 100%;
}

.flex-container {
  display: flex;
  flex-direction: row;
  height:100%;
  background: url("../img/fondo.jpg") no-repeat center center fixed;
}

.flex-item {
  margin: auto;
  background: #fff;
  box-shadow: 0px 0px 7px grey;
  padding: 40px;
}

.paciente{
	border: 1px solid black;
	margin: 10px;
	padding: 10px;
	display: inline-block;
}
span{
	color: red;
	font-size: 12px;
}
#nombre-paciente,#apellido-paciente,#edad-paciente,#genero-paciente,#ciudad-paciente,#pais-paciente{
	color: black;
	margin: 0;
}
#records {
	text-align: left;
	padding: 20px;
} 




/*html {
	background: url("../img/fondo.jpg") no-repeat center center fixed;
}
img{
	    margin: 50px 20px 0px 600px;

}




.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
    border: 2px solid #16a085;
  border-radius: 6px;
  margin: 50px 50px 150px 700px;
}
*/